h1 {
    font-family:Arial;
    font-size:40px; 
    color: red;
    text-align: center;
}
.description {
    font-family:Arial;
    font-size:30px;
    color:white;
    background-color: #E1F896
}
.img{
    height: 100;
}
.a{
    font-family:Arial;
    font-size:20px;
}
div {
background-image: url('https://i.pinimg.com/736x/86/1c/8f/861c8f52b2a08454959246c9fc006c0b.jpg');
}